body{
    background-color: black;
    margin: 0;
}

.box{
    box-sizing: content-box;
    width: 100px;
    height: 1000px;
    color: white;
    border: 2px solid yellow;
    padding: 10px;
    margin: 10px 0 5px 10px;
}

.vermelho{
    background-color: red;
    margin-top: 0px;
    border-width: 0.1rem;
    border-bottom-width: 0;
    border-style: dashed;
}

.azul{
    background-color: blue;
    margin-top: 0px;
    border-width: 10px 0 5px 3px;
    border-bottom-style: double; 
}

.verde{
    background-color: green;
    margin-left: 0;
    border-style: solid;
}