<app-primeiro-componente></app-primeiro-componente>
<app-segundo-componente></app-segundo-componente>
<app-pipe-customizado></app-pipe-customizado>
<app-two-way-data-binding></app-two-way-data-binding>
<app-renderizando-listas></app-renderizando-listas>
<app-componente-personalizado nome="Nilcilaine" sobrenome="Lopes"></app-componente-personalizado>
<app-componente-personalizado nome="Nilciléia" sobrenome="Lopes"></app-componente-personalizado>
<app-componente-pai></app-componente-pai>
<app-exemplo-servico1></app-exemplo-servico1>
<app-exemplo-servico2></app-exemplo-servico2>
<app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
