<header>
  <h1>
    <span>ProWay</span><span>Computers</span>
  </h1>
  <nav>
    <ul>
      <li>
        <a>Produtos</a>
      </li>
      <li>
        <a>
          Carrinho
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
      <li>
        <a>Contato</a>
      </li>
      <li><a><i class="fa-brands fa-facebook"></i></a></li>
      <li><a><i class="fa-brands fa-instagram"></i></a></li>
      <li><a><i class="fa-brands fa-twitter"></i></a></li>
      <li><a><i class="fa-brands fa-linkedin"></i></a></li>
    </ul>
  </nav>
</header>
